<%= form_for(@call_for_help) do |f| %>
  <% if @call_for_help.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@call_for_help.errors.count, "error") %> prohibited this call_for_help from being saved:</h2>

      <ul>
      <% @call_for_help.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :problem %>
    <%= f.text_field :problem %>

    <%= f.label :lat %>
    <%= f.text_field :lat %>

    <%= f.label :lng %>
    <%= f.text_field :lng %>

    <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
