<h1>Listing call_for_helps</h1>

<table>
  <tr>
    <th>User Name</th>
    <th>Longitude</th>
    <th>Latitude</th>
    <th>Type of problem</th>
  </tr>

<% @call_for_helps.each do |call_for_help| %>
  <tr>
    <td><%= call_for_help.name %></td>
    <td><%= call_for_help.lng %></td>
    <td><%= call_for_help.lat %></td>
    <td><%= call_for_help.problem %></td>

    <td><%= link_to 'Show', call_for_help %></td>
    <td><%= link_to 'Edit', edit_call_for_help_path(call_for_help) %></td>
    <td><%= link_to 'Destroy', call_for_help, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Call for help', new_call_for_help_path %>
