<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script>
    function initialize() {
        var myLatlng = new google.maps.LatLng(<%= @call_for_help.lat %>,<%= @call_for_help.lng %>);
        var mapOptions = {
            zoom: 12,
            center: myLatlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

        var marker = new google.maps.Marker({
            position: myLatlng,
            map: map,
            title: '<%= @call_for_help.name %> is having <%= @call_for_help.problem %> problem.'
        });
    }

    google.maps.event.addDomListener(window, 'load', initialize);

</script>

<p id="notice"><%= notice %></p>

<table>
<tr>
  <td>
    <b>Name</b>
  </td>
  <td><%= @call_for_help.name %></td>
</tr>
<tr>
  <td>
    <b>Longitude</b>
  </td>
  <td><%= @call_for_help.lng %></td>
</tr>
<tr>
  <td>
    <b>Latitude</b>
  </td>
  <td><%= @call_for_help.lat %></td>
</tr>
<tr>
  <td>
    <b>Type of problem</b>
  </td>
  <td><%= @call_for_help.problem %></td>
</tr>
</table>

<div id="map-canvas" style="height:400px;width:400px"></div>

<%= link_to 'Edit', edit_call_for_help_path(@call_for_help) %> |
<%= link_to 'Back', call_for_helps_path %>
