<h1>Listing operators</h1>

<table>
  <tr>
    <th>Operator</th>
    <th>Phone</th>
    <th>Logedin</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @operators.each do |operator| %>
  <tr>
    <td><%= operator.operator %></td>
    <td><%= operator.phone %></td>
    <td><%= operator.logedin %></td>
    <td><%= link_to 'Show', operator %></td>
    <td><%= link_to 'Edit', edit_operator_path(operator) %></td>
    <td><%= link_to 'Destroy', operator, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Operator', new_operator_path %>
