<p id="notice"><%= notice %></p>

<p>
  <b>Operator:</b>
  <%= @operator.operator %>
</p>

<p>
  <b>Phone:</b>
  <%= @operator.phone %>
</p>

<p>
  <b>Logedin:</b>
  <%= @operator.logedin %>
</p>


<%= link_to 'Edit', edit_operator_path(@operator) %> |
<%= link_to 'Back', operators_path %>
